#snippet-code{
	min-height: 100px;
}

#snippet-list ul {
    list-style: none;
    margin-left: 0;
}

#ace-editor {
    min-height: 200px;
    width: 100%;
    position: relative;
}

#ace-editor.editor-read {
    margin-left: 20px;
    height: 300px;
}

#ace-editor.editor-edit {
    height: 400px;
}

/* hide ACE editor's scrollbar */
#ace-editor.editor-read .ace_scrollbar {
    display: none;
}

#snippet-doc{
    margin: 0;
    padding: 2px 0 0 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: right;
    border: 0;
    border-stlyle: none;
}

#snippet-doc:focus {
    /* box-shadow: none; */
}